<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        header {
            width: 100vw;
            margin: 0;
            padding: 0;
            height: 100px;
            background-color: lightgray;
            text-align: center
        }

        main {
            padding: 40px;
            text-align: center            
        }

        footer {
            border-top: 1px solid #333;
            padding-top: 40px;
            text-align: center
        }

        
    </style>
</head>
<body>
    <header>
        Meu Header
    </header>
